* {
  margin: 0;
  padding: 0; }

.header .header__title {
  color: black;
  text-align: center;
  font-size: 40px; }

.main .main__sectionI .sectionI__imagen {
  width: 100%; }

.main .main__primeraSection .primeraSection__h1 {
  font-size: 60px;
  text-align: center;
  padding-top: 90px;
  font-family: serif;
  color: #303031; }
  @media (max-width: 600px) {
    .main .main__primeraSection .primeraSection__h1 {
      font-size: 35px; } }

.main .main__primeraSection .primeraSection__parrafo {
  font-family: 'Amaranth', sans-serif;
  font-size: 40px;
  text-align: center;
  color: black; }

.main .main__sectionDos .sectionDos__parrafo {
  color: black;
  font-size: 40px;
  padding-top: 50px;
  padding-left: 50px;
  font-family: serif; }

.main .main__sectionDos .sectionDos__imagenes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%; }
  @media (max-width: 600px) {
    .main .main__sectionDos .sectionDos__imagenes {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 100%; } }
  @media (min-width: 600px) {
    .main .main__sectionDos .sectionDos__imagenes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      height: 100%; } }
  @media (min-width: 768px) {
    .main .main__sectionDos .sectionDos__imagenes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      height: 100%; } }
  @media (min-width: 992px) {
    .main .main__sectionDos .sectionDos__imagenes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      height: 100%; } }
  .main .main__sectionDos .sectionDos__imagenes .imagenes__Uno, .main .main__sectionDos .sectionDos__imagenes .imagenes__Dos {
    width: 50%; }
    @media (max-width: 600px) {
      .main .main__sectionDos .sectionDos__imagenes .imagenes__Uno, .main .main__sectionDos .sectionDos__imagenes .imagenes__Dos {
        width: 95%; } }
  @media (max-width: 600px) {
    .main .main__sectionDos .sectionDos__imagenes .imagenes__Dos {
      width: 95%; } }

.main .main__sectionTres .sectionTres__parrafo {
  font-size: 50px;
  font-family: serif;
  text-align: center; }
  @media (max-width: 600px) {
    .main .main__sectionTres .sectionTres__parrafo {
      font-size: 35px; } }

.main .main__sectionTres .sectionTres__imagenes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%; }
  @media (max-width: 600px) {
    .main .main__sectionTres .sectionTres__imagenes {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 100%; } }
  @media (min-width: 600px) {
    .main .main__sectionTres .sectionTres__imagenes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      height: 100%; } }
  @media (min-width: 768px) {
    .main .main__sectionTres .sectionTres__imagenes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      height: 100%; } }
  @media (min-width: 992px) {
    .main .main__sectionTres .sectionTres__imagenes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      height: 100%; } }
  .main .main__sectionTres .sectionTres__imagenes .imagenes__img {
    width: 50%; }
    @media (max-width: 600px) {
      .main .main__sectionTres .sectionTres__imagenes .imagenes__img {
        width: 95%; } }
  .main .main__sectionTres .sectionTres__imagenes .imagenes__imgDos {
    width: 50%; }
    @media (max-width: 600px) {
      .main .main__sectionTres .sectionTres__imagenes .imagenes__imgDos {
        width: 95%; } }

.main .main__sectionCuatro .sectionCuadro__parrafo {
  color: black;
  font-size: 40px;
  padding-top: 50px;
  padding-left: 50px;
  font-family: serif; }

.main .main__sectionCuatro .sectionCuadro__imagenes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%; }
  @media (max-width: 600px) {
    .main .main__sectionCuatro .sectionCuadro__imagenes {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 100%; } }
  @media (min-width: 600px) {
    .main .main__sectionCuatro .sectionCuadro__imagenes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      height: 100%; } }
  @media (min-width: 768px) {
    .main .main__sectionCuatro .sectionCuadro__imagenes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      height: 100%; } }
  @media (min-width: 992px) {
    .main .main__sectionCuatro .sectionCuadro__imagenes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      height: 100%; } }
  .main .main__sectionCuatro .sectionCuadro__imagenes .imagenes__imgeng {
    width: 50%; }
    @media (max-width: 600px) {
      .main .main__sectionCuatro .sectionCuadro__imagenes .imagenes__imgeng {
        width: 95%; } }
  .main .main__sectionCuatro .sectionCuadro__imagenes .imagenes__imgenegI {
    width: 50%; }
    @media (max-width: 600px) {
      .main .main__sectionCuatro .sectionCuadro__imagenes .imagenes__imgenegI {
        width: 95%; } }

.footer {
  background-color: black; }
  .footer .logo {
    background-color: black;
    width: 100px;
    height: 100px;
    margin: auto; }
    .footer .logo .logo__h1 {
      color: white;
      font-family: 'Times New Roman', Times, serif; }
  .footer .footer__container {
    margin: auto;
    width: 100%;
    display: flex;
    color: white; }
    @media (max-width: 600px) {
      .footer .footer__container {
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        color: white; } }
    @media (min-width: 600px) {
      .footer .footer__container {
        margin: auto;
        width: 100%;
        display: flex;
        color: white; } }
    .footer .footer__container .container__col1 {
      width: 33%; }
      @media (max-width: 600px) {
        .footer .footer__container .container__col1 {
          width: 33%; } }
      .footer .footer__container .container__col1 .col1__h2 {
        margin-bottom: 15px; }
      .footer .footer__container .container__col1 .col1__p {
        margin-bottom: 10px; }
    .footer .footer__container .container__col2 {
      width: 33%; }
      @media (max-width: 600px) {
        .footer .footer__container .container__col2 {
          width: 33%; } }
      .footer .footer__container .container__col2 .col2__h2 {
        margin-bottom: 15px; }
      .footer .footer__container .container__col2 .col2__ig {
        display: flex;
        align-items: center; }
      .footer .footer__container .container__col2 .col2__fb {
        display: flex;
        align-items: center; }
      .footer .footer__container .container__col2 .col2__tw {
        display: flex;
        align-items: center; }
    .footer .footer__container .container__col3 {
      width: 33%; }
      @media (max-width: 600px) {
        .footer .footer__container .container__col3 {
          width: 33%; } }
      .footer .footer__container .container__col3 .col3__h2 {
        margin-bottom: 15px; }
      .footer .footer__container .container__col3 .col3__ul {
        display: flex;
        flex-direction: column; }
        .footer .footer__container .container__col3 .col3__ul .ul__a {
          color: white;
          text-decoration: none; }

.nav-link {
  font-size: 20px; }
